<% content_for :title, "Nova Movimentação - Stock Control" %>

<div class="space-y-6">
  <div>
    <h2 class="text-2xl font-bold leading-7 text-gray-900 sm:truncate sm:text-3xl sm:tracking-tight">
      Nova Movimentação de Estoque
    </h2>
    <p class="mt-2 text-sm text-gray-700">
      Registre uma nova movimentação de entrada, saída, ajuste ou devolução de estoque.
    </p>
  </div>

  <%= render 'form' %>
</div>