<% content_for :title, "Novo Fornecedor - Stock Control" %>

<div class="space-y-6">
  <div>
    <h2 class="text-2xl font-bold leading-7 text-gray-900 sm:truncate sm:text-3xl sm:tracking-tight">
      Novo Fornecedor
    </h2>
    <p class="mt-2 text-sm text-gray-700">
      Preencha os dados abaixo para criar um novo fornecedor.
    </p>
  </div>

  <%= render 'form' %>
</div>